<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="/bootstrap/css/bootstrap.css">
  <title>Document</title>
</head>

<body>
  <h1>用户页面</h1>
  <%for(var i=0;i<user.length;i++){ %>
  <li><%=user[i].username%></li>
  <%}%>
  <button class="btn btn-primary">按钮</button>
</body>

</html>
